asgiref==3.8.1
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
Django==5.2.2
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
Markdown==3.8
packaging==25.0
pdfminer.six==20250506
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python-environ==0.4.54
sqlparse==0.5.3
tzdata==2025.2
